/* nav menu */
header{
  display: none!important;}

/* first-screen */
section .first-screen{
  position: relative;
  width:100%;
  height:768px;
  background-image:url("../img/negative-space-widescreen-monitor-coding-code-css-anita-peeples.jpg");
  background-size: cover;
}
section .first-screen>h2{
  text-align: center;
}
section .first-screen>p{
  text-align: center;
}
section .first-screen>h2{
  font-size:5em;
  padding-top: 25%;
}
section .first-screen>p{
  font-size: 2em;
}

/* About me */
section .about>h2{
  text-align: center;
  padding:5%;
  font-size: 5em;
  font-weight: 700;
}
section .about .about-row{
  padding:0 20%;
  overflow:hidden;
}
section .about .about-row .col-sm-4 .process_img{
  text-align: center;
  margin-bottom: 10%;
}
section .about .about-row .col-sm-4>p{
  padding-left: 15%;
  font-size: 1.5em;
}
section .about .about-row .col-sm-4>h3{
  padding-left: 15%;
  font-size:1.8em;
  font-weight: 700;
}

/* My projects*/
section .projects> h2{
  text-align: center;
  padding:5%;
  font-size: 5em;
  font-weight: 700;
}
section .projects .projects-row{
  margin:0 15%;
  overflow:hidden;
}
section .projects .projects-row .col-sm-4{
  overflow: hidden;
  object-fit: cover;
}
section .projects .projects-row .col-sm-4>a{
  font-size: 2em;
  text-decoration:none;
}
section .projects .projects-row .col-sm-4>a>img{
  width:100%;
}

/* Footer */
footer{
  width:100%;
  height:300px;
  background-color:#666;
  margin-top:10%;
}
footer .personal_info{
  font-size:2em;
  text-align: center;
}
