@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/*reset css*/
*{margin:0; padding:0;border:0;}
ul,li{list-style:none;}
a{text-decoration:none; color:inherit;}


/*navigation*/
nav .nav-bar{
    position:fixed;
    width:100%;
    height:40px;
    background:#150b03;
    overflow:hidden;
    display:table;
    z-index:1000;
}

nav .nav-bar .nav-wrap{
    display:table-cell;
    vertical-align:middle;
    z-index:1000;
}

nav .nav-bar .nav-wrap>a>img{
    display:inline-block;
    height:30px;
    margin-left:2%;
}

nav .nav-bar .nav-wrap .fa-bars{
    float:right;
    display:inline-block;
    margin-right:2%;
    color:white;
    overflow:hidden;
    
}

/*drawer*/
/*https://codepen.io/jerome_a_/pen/yoGiv*/

nav ul li a {
display: block;
text-decoration: none;
background: #1f1005;
padding: 1em;
margin-bottom: 1px;
}
.drawer {
  -webkit-transform: translate3d(0, -131px, 0);
  -moz-transform: translate3d(0, -131px, 0);
  -o-transform: translate3d(0, -131px, 0);
  transform: translate3d(0, -131px, 0);
  -webkit-transition:-webkit-transform 0.25s linear;
  -moz-transition:-moz-transform 0.25s linear;
  -o-transition:-o-transform 0.25s linear;
  transition:transform 0.25s linear;
    z-index:999;
}
.drawer.active {
  -webkit-transform: translate3d(0,129px,0)
  -moz-transform: translate3d(0,129px,0)
  -o-transform: translate3d(0,129px,0)
  transform: translate3d(0,129px,0)
}

/* Experiment Specific Styles */

.drawer {
    position:fixed;
    width:100%;
	-webkit-transform: translate3d(0, -350px, 0);
	-moz-transform: translate3d(0, -350px, 0);
	-o-transform: translate3d(0, -350px, 0);
	transform: translate3d(0, -350px, 0);
	-webkit-transition:-webkit-transform 0.25s linear;
	-moz-transition:-moz-transform 0.25s linear;
	-o-transition:-o-transform 0.25s linear;
	transition:transform 0.25s linear;
}
.drawer.active {
	-webkit-transform: translate3d(0,-8px,0);
	-moz-transform: translate3d(0,-8px,0);
	-o-transform: translate3d(0,-8px,0);
	transform: translate3d(0,-8px,0);
}

nav ul li a {
display: block;
text-decoration: none;
background: #1f1005;
color: white;
padding: 1em;
margin-bottom: 1px;
}

/*********************accordion menu**********************/

.container {
  width: 100%;
  margin: auto;
}

/** ==========================
* Conentendor Principal
=============================
**/
.accordion {
  width: 100%;
  margin: 3em auto 2em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.accordion__list {
  background: #150b03;
  width: 100%;
}
.accordion__list .link {
  font-size: 0.85em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion__list .link {
    width:93%;
    left:3%;
    border-bottom:1px solid #494440;
}

.accordion__list .link__title {
  padding: 1.5em;
  padding-left: 3em;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: block;
  background-color: transparent;
  color: #fff;
}
.accordion__list .link__title>p{
    margin-left:-5%;
}
.accordion li:last-child .link {
  border-bottom: 0;
}

/** ========================
* Diseño iconos font-awesome
============================= **/
.accordion li i {
  position: absolute;
  top: 1.5em;
  left: 1rem;
  font-size: 1em;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 1.2em;
}

/**===================================
* Conf. clase link al estar activo submenu (con js)
====================================**/

.accordion li.open i {
  color: #ff5252;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**=======================
* Submenu
==========================**/
.submenu {
  display: none;
  background: #1f1005;
  font-size: 0.95em;
}

.submenu li {
  border-bottom: 1px solid #494440;
}

.submenu a {
  display: block;
  text-decoration: none;
  
  color: #8d8988;
  padding: 1rem;
  padding-left: 3.5em;
  -webkit-transition: all 0.25 ease;
  -moz-transition: all 0.25 ease;
  -o-transition: all 0.25 ease;
  transition: all 0.25 ease;

}


/**************************article*******************************/
.festival-page-article{
    position:relative;
    width:100%;
    height:400px;
    top:40px;
    overflow:hidden;
}
.festival-page-article .article-wrap{
    position:relative;
    width:100%;
    height:333.5px;
}
.festival-page-article .rectangulo {
  display: table;
  width: 70%;
  height: 200px;
  position: relative;
  margin: 50px 5%;
  background-color: transparent;
  /*overflow: hidden;*/
  /*border: 1px solid #222;*/
}

.festival-page-article .l1,
.festival-page-article .l2,
.festival-page-article .l3,
.festival-page-article .l4 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: .4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}
.festival-page-article .l1 {
  left: 0;
  bottom: 0;
  height: 100px;
  width: 3px;
  -webkit-animation-name: l1;
  -webkit-animation-delay: 0s;
}
.festival-page-article .l2 {
  top: 0;
  left: 0;
  width: 70%;
  height: 3px;
  -webkit-animation-name: l2;
  -webkit-animation-delay: .4s;
}
.festival-page-article .l3 {
  right: 0;
  top: 50px;
  bottom: 0;
  height: 150px;
  width: 3px;
  -webkit-animation-name: l3;
  -webkit-animation-delay: 0s;
}
.festival-page-article .l4 {
  bottom: 0;
  right: 0;
  width: 70%;
  height: 3px;
  -webkit-animation-name: l4;
  -webkit-animation-delay: .4s;
}
@-webkit-keyframes l1 {
  0% {
    height: 0;
    background: #9f7c7d;
    bottom: 50px;
  }
  100% {
    height: 150px;
    background: #9f7c7d;
    bottom: 50px;
  }
}
@-webkit-keyframes l2 {
  0% {
    width: 0;
    background: #9f7c7d;
  }
  100% {
    width: 50%;
    background: #9f7c7d;
  }
}
@-webkit-keyframes l3 {
  0% {
    height: 0;
    background: #9f7c7d;
  }
  100% {
    height: 150px;
    background: #9f7c7d;
  }
}
@-webkit-keyframes l4 {
  0% {
    width: 0;
    background: #9f7c7d;
  }
  100% {
    width: 65%;
    background: #9f7c7d;
  }
}
.festival-page-article .blanck,
.festival-page-article .title,
.festival-page-article .title-sub{
  color: black;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  position: absolute;
}
.festival-page-article .blank {
  bottom: -10px;
  left: -25px;
}
.festival-page-article .title {
  right: -25px;
  top: -15px;
}
.festival-page-article .title-sub{
    right:-30%;
    top:8px;
}
.festival-page-article .content-text{
    position:relative;
    box-sizing:border-box;
    display:table-cell;
    vertical-align:middle;
    padding:10%;
    text-align:center;
}


/***** Section Video & Posters*****/
.festival-page-section{
    
}
.festival-page-section .section-wrap .video{
    background:#888;
}
.festival-page-section .section-wrap .video-text{
    text-align:center;
    background:#e5e5e5;
}

.festival-page-section .section-wrap .posters{
    width:100%;
    margin:10px auto;
}
.festival-page-section .section-wrap .posters>h2{
    text-align:center;
}
.festival-page-section .section-wrap .posters .posters-upper-image{
    position:relative;
    height:100px;
    overflow:hidden;
}
.festival-page-section .section-wrap .posters .posters-lower-image{
    position:relative;
    height:100px;
    margin:10px auto 20px;
    overflow:hidden;
}









/********************footer*****************/
footer{
    position:relative;
    width:100%;
    height:160px;
}

/*footer accordion*/
.container {
  width: 100%;
  margin: auto;
}

/** ==========================
* Conentendor Principal
=============================
**/
footer .accordion {
  width: 100%;
  margin:auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}
footer .accordion__list {
  background: #150b03;
  width: 100%;
}
footer .accordion__list .footer-link {
  font-size: 0.85em;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .accordion__list .footer-link {
    width:93%;
    left:3%;
    border-bottom:1px solid #494440;
}

footer .accordion__list .link__title {
  padding: 1.5em;
  padding-left: 3em;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: block;
  background-color: transparent;
  color: #fff;
}
footer .accordion__list .link__title>p{
    margin-left:-5%;
}
footer .accordion li:last-child .footer-link {
  border-bottom: 0;
}

/** ========================
* Diseño iconos font-awesome
============================= **/
footer .accordion li i {
  position: absolute;
  top: 1.5em;
  left: 1rem;
  font-size: 1em;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 1.2em;
}

/**===================================
* Conf. clase link al estar activo submenu (con js)
====================================**/

footer .accordion li.open i {
  color: #ff5252;
}

footer .accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/**=======================
* Submenu
==========================**/
footer .submenu {
  display: none;
  background: #1f1005;
  font-size: 0.95em;
}

footer .submenu li {
  border-bottom: 1px solid #494440;
}

footer .submenu a {
  display: block;
  text-decoration: none;
  
  color: #8d8988;
  padding: 1rem;
  padding-left: 3.5em;
  -webkit-transition: all 0.25 ease;
  -moz-transition: all 0.25 ease;
  -o-transition: all 0.25 ease;
  transition: all 0.25 ease;
}
/*footer-bar*/
footer .footer-bar{
    position:relative;
    width:100%;
    height:40px;
    background:#150b03;
    overflow:hidden;
    display:table
}
footer .footer-bar .footer-wrap{
    width:100%;
    height:40px;
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}
footer .footer-bar .footer-wrap>a>img{
    display:inline-block;
    height:30px;
    margin-left:2%;
    vertical-align:middle;
    
}
footer .footer-bar .footer-wrap .sns-box{
    width:15%;
    height:30px;
    float:right;
    margin-right:2%;
    display:inline-block;
}
footer .footer-bar .footer-wrap .sns-box .fa{
    color:white;
    margin-right:2%;
    margin-top:10%;
}













